{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends": [
    "react-app",
    "plugin:adonis/typescriptApp",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "plugins": ["babel", "prettier", "react"],
  "rules": {
    "no-unused-expressions": 0,
    "babel/no-unused-expressions": 0,
    "indent": "off",
    "react/jsx-fragments": [1, "element"],
    "prettier/prettier": "error",
    "react/jsx-first-prop-new-line": [1, "multiline"],
    "react/jsx-max-props-per-line": [
      1,
      {
        "maximum": 1
      }
    ]
  }
}
