/* --------------------------- */
/* Canvas */

.wrapper {
  flex-grow: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // width: 100%;
  // overflow-y: auto;
  // overflow-x: hidden;
  overflow: hidden;
  position: relative;
}

.content {
  width: 100%;
  padding: 110px 0 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.pageWrapper {
  padding: 0 70px;
  display: inline-block;
  position: relative;
  margin: 0 auto;
}
